.footer{
    /* background: rgb(75, 75, 75); */
    background: #404040;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.footerLeft{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.footerLogo{
    width: 380px;
    height: 180px;
    margin-top: 20px;
    object-fit: cover;
    margin-left: 60px;
}

.socials{
    margin-left: 50px;
    padding-bottom: 15px;
}

.footerSocialIcon{
    color: #111;
    color: rgb(184, 184, 184);
    cursor: pointer;
    font-size: 24px;
    padding: 6px 30px;
    margin-bottom: 15px;
    border-right: rgb(184, 184, 184) 0.01px solid;
    /* border-left: #222 0.01px solid; */
}

.footerSocialIcon:hover{
    color: #fff;
}

.poweredTxt{
    width: 100%;
    text-align: right;
    color: rgb(210, 210, 210);
    letter-spacing: 0.8px;
    font-size: 17px;
    margin-bottom: 20px;
}

.footerRight{
    padding-right: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgb(184, 184, 184);
    text-align: right;
    line-height: 2px;
}

.footerLinks{
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

.footerLink{
    line-height: 30px;
    font-size: 17px;
    letter-spacing: 0.5px;
    height: fit-content;
}

.copyright{
    color: #fff;
    letter-spacing: 1px;
}