.topHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    margin: 0 30px;
    border-bottom: rgba(0, 0, 0, 0.24) 0.01px dashed;
    height: 90px;
}

.topThinBar{
    height: 37px;
    background: rgb(63, 63, 63);
    color: white;
    /* padding: 0 10px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 1px;
}

.bnTitle{
    background: #1E90FF;
    padding: 8px 14px;
    font-weight: 100;
}

.bn{
    margin-left: 20px;
    flex-grow: 1;
}

.searchInput{
    /* border-radius: 6px; */
    padding: 7px 12px;
    outline: none;
    border-bottom: rgb(63, 63, 63);
    border: 0;
    font-family: 'Gnuolane';
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
}

.searchBtn{
    margin-right: 35px;
    margin-left: 5px;
    padding-right: 10px;
    background: transparent;
    border: 0;
    outline: none;
}

.searchLogo{
    font-size: 22px;
    margin-top: 3.5px;
    margin-left: -65px;
    cursor: pointer;
    outline: none;
}

.socialIcon{
    text-decoration: none;
    color: white;
    margin-right: 25px;
}

.socialIcon:hover{
    color: #1E90FF;
}

.header{
    margin: 0 10px;
    border-bottom: rgba(0, 0, 0, 0.25) 1px solid;
    /* border-bottom: rgba(0,0,0,0.2) 0.01px solid; */
}

.date{
    width: 200px;
}

.logo{
    /* font-size: 38px;
    font-weight: 800;
    letter-spacing: 1.5px; */
}

.locationIcon{
    font-size: 18px;
    margin-left: -4px;
    margin-top: 10px;
    vertical-align: sub;
}

.logoImg{
    height: 294px;
    color: rgb(0, 223, 0)
}

.tempEtc{
    width: 200px;
    text-align: right;
}
.menuBurger{
    display: none;
}

@media only screen and (max-width: 1000px) {
    
}

@media only screen and (max-width: 600px) {
    .topThinBar{
        display: none;
    }
    .topHeader{
        flex-direction: row;
        height: fit-content;
        padding: 0;
        width: 100vw;
        text-align: center;
        border: 0;
    }
    .header{
        border: 0;
        position: relative;
    }
    .date{
        height: 1rem;
        font-size: 0.9rem;
        top: 0;
        left: 0.5rem;
        margin-top: 0;
        position: absolute;
        display: none;
    }
    .locationIcon{
        font-size: 200px;
    }
    .tempEtc{
        display: none;
    }
    
    .logoImg{
        width: 15rem;
        height: 7rem;
        object-fit: cover;
        margin: 0;
        /* margin-left: -50px; */
        margin-right: 80px;
        border: 0;
        /* left: 50%; */
        /* transform: translateX(-50%); */
        /* position: absoluSte; */
    }
    .menuBurger{
        display: block;
        font-size: x-large;
    }
}