.newsArea{
    margin: 20px 80px;
    display: flex;
    flex-direction: row;
}

.newsLeft{
    min-width: 70%;
    /* background: #000; */
}

.mainThreeHeadlines{
    display: flex;
    flex-direction: column;
    padding-right: 12px;
    border-right: rgba(0, 0, 0, 0.3) 0.01px solid;
    /* width: 65%; */
}

.newsRight{
    padding-left: 12px;
}

.mainHeadline{
    height: auto;
    width: 100%;
    position: relative;
}


.mainHeadlineImage{
    width: 100%;
    z-index: -13;
    position: relative;
    /* visibility: hidden; */
}

.mainHeadlineTitle{
    /* margin-top: -80px; */
    width: 97.5%;
    position: absolute;
    bottom: 4px;
    margin-bottom: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: -20px;
    padding-bottom: 20px;
    /* padding-left: 40px; */
    color: white;
    background: rgba(0, 0, 0, 0.3);
    font-family: 'Gnuolane';
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 30px;
}

.subHeadlines{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;
}

.headline2, .headline3{
    /* flex-grow: 1; */
    width: 49.5%;
}

.headline2Image, .headline3Image{
    object-fit: cover;
    width: 150px;
    height: 300px;
    width: 100%;
    z-index: -1;
}

.headline2, .headline3{
    position: relative;
}

.headline2Title, .headline3Title{
    width: 97.5%;
    position: absolute;
    bottom: 4px;
    /* width: 47.1%; */
    width: 95%;
    margin-bottom: 0;
    padding-top: 20px;
    padding-left: 20px;
    /* left: 20px; */
    padding-bottom: 20px;
    /* padding-left: 40px; */
    color: white;
    background: rgba(0, 0, 0, 0.3);
    font-family: 'Gnuolane';
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 30px;
}

.topHeadlinesTitle{
    font-size: 24px;
    letter-spacing: 0.8px;
    margin-left: 7px;
    font-weight: 700;
}